.cabecalho {
   text-align: center;
   font: 15px Arial, sans-serif;
   font-weight: bold;
   background-color: #F5A9A9;
   border:3px solid #F5A9A9;
   border-bottom:none;
   

}



.imagem {
position: absolute; 
	left: 200px; /* posiciona a 90px para a esquerda */ 
	top: 200px; /* posiciona a 70px para baixo */
	
}
.botao {
   background: #F5A9A9;
   border-style: none;
   border-bottom:none; 
}
